@import '../../common_projects_utilities/css/font-awesome', '../../common_projects_utilities/css/reset';

* {
    box-sizing: border-box;
} 
body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 640px;
    height: auto;
    margin: auto;
}

.title {
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    span {
        display: block;
    }

    .is-mobile {display: none;}

    margin-bottom: 16px;
}

.legends {
    width: auto;
    margin: 0 auto;

    .legend {
        width: auto;
        height: 100%;
        display: none;

        &.selected {
            display: flex;
            flex-direction: column;

            .b-legend__gradient {
                display: flex;
                flex-direction: row;
            }

            .legend__gradient {
                width: 80px;
                height: 6px;
                margin-bottom: 5px;
                margin-right: 4px;

                &:first-child {
                    margin-left: 9px;
                }

                &--cs-first {
                    background-color: #FEDDD3;
                }
                &--cs-second {
                    background-color: #ED946C;
                }
                &--cs-third {
                    background-color: #F25B22;
                }
                &--cs-fourth {
                    background-color: #AA3205;
                }
            }

            .legend__values {                
                font-family: 'Roboto';
                font-size: 13px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.6px;
                text-align: left;
                color: #989898;                

                strong {
                    margin-right: 56px;
                }
            }
        }
    }    
}

/* Mapa */
#mapa {
    width:100%;
    max-width: 640px;
    height: 500px;    
    margin: 16px auto 14px auto;
}

.data-source {
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: right;
    color: #4f4f4f;
}

/* Cambio de estilos para mapa */
.mapboxgl-ctrl-geocoder--input {
    font-size: 13px !important;
}

.mapboxgl-popup {
    font-family: 'Roboto';
    opacity: .9;
    width: 230px !important;
    &-content {
        background-color: #e6e6e6 !important;
        padding: 8.25px;
        border-radius: 2.75px;
    }
    &-tip {
        border-top-color: #e6e6e6 !important;
    }
}

@media only screen and (max-width: 560px) {
    .title {
        .is-mobile {display: block;}
        .is-desktop {display: none;}
    }
}

@media only screen and (max-width: 375px) {
    .title {
        height: 50px;

        font-size: 22px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 345px) {
    .title {
        font-size: 20px;
        line-height: 26px;
    }
}